logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        cache: DEBUG
        stat: DEBUG
server:
  port: 8080
  servlet:
    context-path: /motel-service/api
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    password: Hh181101
    url: jdbc:mysql://motel.mysql.database.azure.com:3306/motel_service
    username: hoang
  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        enable_lazy_load_no_trans: true
  security:
    user:
      name: user
      password: 9946c60a
  mail:
    properties:
      mail:
        smtp:
          starttls:
            enable: 'true'
          auth: 'true'
    host: smtp.gmail.com
    username: dongboprovjp@gmail.com
    password: uguzekivuglxocyn
    port: '587'
app:
  jwtSecret: U2FsdGVkX1/kte8JaLu6UFRqfWsVKZvGxF5CApjphfq/3kjCn2TTqF+woNk89VuX9CNwE8xh/F4W7bBU+bS0QQ== 
  jwtExpirationMs: 31536000000
  jwtRefreshExpirationMs: 31536000000
 
azure:
  storage:
    account-key: JlsWQe84ylbZW/Jfli78YWQit5tXhl/acQ2K3t4wqdpB3U2bmAO5jYcpSt/w4Bx8Inakuvlqb8E3+AStkc/URw==
    connection-string: DefaultEndpointsProtocol=https;AccountName=imgfile;AccountKey=JlsWQe84ylbZW/Jfli78YWQit5tXhl/acQ2K3t4wqdpB3U2bmAO5jYcpSt/w4Bx8Inakuvlqb8E3+AStkc/URw==;EndpointSuffix=core.windows.net
    account-name: imgfile
    container: test
    blob-enpoint: https://imgfile.blob.core.windows.net
  
# 86400000
