logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        cache: DEBUG
        stat: DEBUG
server:
  port: 8080
  servlet:
    context-path: /motel-service/api
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    password: 1234
    url: jdbc:mysql://localhost:3306/motel_service
    username: root
  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: validate
  security:
    user:
      name: user
      password: 9946c60a
app:
  jwtSecret: U2FsdGVkX1/kte8JaLu6UFRqfWsVKZvGxF5CApjphfq/3kjCn2TTqF+woNk89VuX9CNwE8xh/F4W7bBU+bS0QQ== 
  jwtExpirationMs: 86400000
  jwtRefreshExpirationMs: 604800000
 
azure:
  storage:
    account-key: JlsWQe84ylbZW/Jfli78YWQit5tXhl/acQ2K3t4wqdpB3U2bmAO5jYcpSt/w4Bx8Inakuvlqb8E3+AStkc/URw==
    connection-string: DefaultEndpointsProtocol=https;AccountName=imgfile;AccountKey=JlsWQe84ylbZW/Jfli78YWQit5tXhl/acQ2K3t4wqdpB3U2bmAO5jYcpSt/w4Bx8Inakuvlqb8E3+AStkc/URw==;EndpointSuffix=core.windows.net
    account-name: imgfile
    container: test
    blob-enpoint: https://imgfile.blob.core.windows.net

  
# 86400000
