<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Template for HTML email with inline image</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body
	style="background-color: #e2e1e0; font-family: Open Sans, sans-serif; font-size: 100%; font-weight: 400; line-height: 1.4; color: #000;">
	<table
		style="max-width: 670px; margin: 50px auto 10px; background-color: #fff; padding: 50px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24); box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24); border-top: solid 10px green;border-spacing: 0px;width: 100%;">
		<thead>
			<tr>
				<td colspan="2" style="font-size: 22px;text-align: center;"><span>Hoá đơn tháng <span th:text="${invoiceMonth}">invoiceMonth</span><span> phòng</span> </span><span th:text="${roomName}">roomName</span></td>
			</tr>
			<tr>
				<th style="text-align: left;"><img style="max-width: 150px;"
					src="https://imgfile.blob.core.windows.net/test/MOTEL.png"
					alt="motel service"></th>
				<th style="text-align: right; font-weight: 400;"><span
					th:text="${toDate}">toDate</span></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td style="height: 35px;"></td>
			</tr>
			<tr>
				<td colspan="2" style="border: solid 1px #ddd; padding: 10px 20px;">
					<p style="font-size: 14px; margin: 0 0 6px 0;">
						<span
							style="font-weight: bold; display: inline-block; min-width: 150px">Phòng</span><b
							th:text="${roomName}">roomName</b>
					</p>
					<p style="font-size: 14px; margin: 0 0 6px 0;">
						<span
							style="font-weight: bold; display: inline-block; min-width: 146px">Tháng</span><b
							th:text="${invoiceMonth}">invoiceMonth</b>
					</p>
				</td>
			</tr>
			<tr>
				<td style="height: 35px;"></td>
			</tr>
			<tr>
				<td colspan="2" style="font-size: 20px; padding: 30px 15px 0 15px;">Danh
					sách dịch vụ</td>
			</tr>
			<tr>
				<td colspan="2" style="padding: 15px;">
					<table style="width: 100%;">
						<thead>
							<th
								style="text-align: left; padding: 1rem 1rem; border: 1px solid #dee2e6; border-width: 0 0 1px 0; font-weight: 700; color: #343a40; background: #f8f9fa; transition: box-shadow 0.2s;">Tên
								dịch vụ</th>
							<th
								style="text-align: left; padding: 1rem 1rem; border: 1px solid #dee2e6; border-width: 0 0 1px 0; font-weight: 700; color: #343a40; background: #f8f9fa; transition: box-shadow 0.2s;">Đơn
								vị</th>
							<th
								style="text-align: left; padding: 1rem 1rem; border: 1px solid #dee2e6; border-width: 0 0 1px 0; font-weight: 700; color: #343a40; background: #f8f9fa; transition: box-shadow 0.2s;">Đơn
								giá</th>
							<th
								style="text-align: left; padding: 1rem 1rem; border: 1px solid #dee2e6; border-width: 0 0 1px 0; font-weight: 700; color: #343a40; background: #f8f9fa; transition: box-shadow 0.2s;">Số
								lượng</th>
							<th
								style="text-align: left; padding: 1rem 1rem; border: 1px solid #dee2e6; border-width: 0 0 1px 0; font-weight: 700; color: #343a40; background: #f8f9fa; transition: box-shadow 0.2s;">Thành
								tiền</th>
						</thead>
						<tbody>
							<tr th:each="service : ${services}" style="background: #ffffff;color: #495057;transition: box-shadow 0.2s;">
								<td style="text-align: left;border: 1px solid #dee2e6;border-width: 0 0 1px 0;padding: 1rem 1rem;"><span th:text="${service.serviceName}">serviceName</span></td>
								<td style="text-align: left;border: 1px solid #dee2e6;border-width: 0 0 1px 0;padding: 1rem 1rem;"><span th:text="${service.unit}">unit</span></td>
								<td style="text-align: left;border: 1px solid #dee2e6;border-width: 0 0 1px 0;padding: 1rem 1rem;"><span th:text="${service.price}">price</span></td>
								<td style="text-align: left;border: 1px solid #dee2e6;border-width: 0 0 1px 0;padding: 1rem 1rem;"><span th:text="${service.quantity}">quantity</span></td>
								<td style="text-align: left;border: 1px solid #dee2e6;border-width: 0 0 1px 0;padding: 1rem 1rem;"><span th:text="${service.totalPrice}">totalPrice</span></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td><span>Tổng hoá đơn: </span><span th:text="${totalPrice}">totalPrice</span></td>
			</tr>
		</tbody>
	</table>
</body>
</html>